<body>
  <div class = "main">
    <h6 class = "titulo_letra">
      Bienevnido a ruby on rails
    </h6>
    <div class="hbg"><%= link_to image_tag("imagesPageBasics/fondoPrincipal.png", alt: "fondo image", width:"970", height: "294"),
                                 "https://rubyonrails.org/" %></div>
    <div class="Section">


    </div>
    </div>
  </div>

</body>