<body>
  <div>
    <div class = "titulo">
      <h6 class = "titulo_letra">
        Bienevnido a ruby on rails
      </h6>
      <%= link_to image_tag("imagesPageHome/Imagen_inicio.jpg", alt: "fondo image", width:"970", height: "400"),
                  "https://rubyonrails.org/" %>
    </div>
  </div>
</body>