.html,body{
  font-family: 'Andada Pro', serif;
  font-size: 1.0rem;
  line-height: 2.0em;
  margin: 0 auto;
}
.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;

}
.navigation{
  margin-left: 100px;
}
header{
  background: rgb(103, 204, 241);
  color: darkgray;
  padding: 2rem 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;

}
.opciones{
  margin-left: 50px;
}
.header a{
  color: white;
  text-decoration: none;
}
.logo-navContanier{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li{
  display: inline-block;
}
.navigation ul li a{
  display:block;
  padding: 0.5rem 1rem ;
  transition: all 1s;
  border-radius: 10px;
}
.navigation ul li a:hover{
  background: rgb(173, 133, 133);
}
